<div id="links" style="text-align: center; transition: all 1.5s ease-in-out; left: 50px;">
    <a href="https://open.spotify.com/track/1LNMTOwoBDgU0w7EIPnuDi?si=688b83eda09c4600"style="text-decoration: none; font-size: 0;"> 
        <img id="spotify" src="static/images/spotify_logo.webp" width="100" height="100" style="display: inline-block; margin-right: 25px;">
    </a>
    <a href="https://music.apple.com/us/album/18-diamonds-single/1766389542"style="text-decoration: none; font-size: 0;">
    <img id="apple" src="static/images/red_apple.webp" width="100" height="100" style="display: inline-block; margin-right: 25px;">
    </a>
</div>