<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div>
        <h1 id="top">Computer Science Portfolio</h1>
        <p>This is a portfolio of my computer science experience and projects.
            I studied computer science at the University of Michigan, and graduated in 2024.
            I have a background in web systems, cybersecurity, and software development.</p><br>
            <a href="#wcbn">iOS radio station app</a><br><br>
            <a href="#subboard">Web app for an organization</a><br><br>
            <a href="#website">This website</a><br><br>
            <a href="#zulip">Open source</a>
            <br>
        <h2 id="website">This website</h2>
            <p></p>This entire website was coded and designed by me, implemented with a Python Flask backend and deployed on Heroku. The designs, a hobby of mine you can see more of here, are made on my phone whatever way gets the job done.
            The website and animations are written in HTML and CSS with JavaScript front-end functionality (just for animations currently). 
            <a href="#top">Back to top</a>
        <h2 id="wcbn">WCBN app</h2>
            <p>WCBN is the University of Michigan's student-run radio station. I developed an iOS app for them that allows users to stream the station live, view the schedule, and see the latest news. The app is written in Swift and uses the AVFoundation library for streaming audio. The app is available on the App Store.</p>
            <a href="#top">Back to top</a>
        <h2 id="subboard">WCBN sub board</h2>
        <p>WCBN is, again, the University of Michigan's student-run radio station. Occasionally students and community members are unable to attend their regularly scheduled programs and must ask other DJs to host their shows at the regular time.</p>
        <p>The sub board was the station's solution to this; requests live on the website, can be posted with a valid DJ login, and mass emails are sent for new requests. However, the station's ever-changing backend has rendered its tech solutions useless many a time. Thus, I rebuilt this tool from scratch.</p>
            <a href="#top">Back to top</a>
        <h2 id="subboard">Zulip</h2>
            <p>Zulip is an open-source team chat platform. I have contributed to the project by adding new features. My contribution was subtle and is not finished so this isn't on  the real website.</p>
            <a href="#top">Back to top</a>
    </div>
</body>