<!DOCTYPE html>
<html lang="en">
<head>  
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/adjustNavbar.js"></script>
    <script>
        window.onload = function() {
            makeNavbarVisible();
            makeNavbarTextBlack();
        }
    </script>
    <style>
        body {
            background-color: #f0f0f0;
            color: #000000;
        }
    </style>
</head>
<body>
{% include 'navbar.html' %}
    <div>
        <p>I will finish this page soon.
            This is a portfolio of my graphic design hobby. 
            I mostly do digital graphic design on my phone. 
            I like to make album art, including my own, and logos.
            Occasionally I also make graphics for brief music clips.
        </p>
    </div>
</body>