<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>trenton michael</title>
    <link rel="icon" href="static/images/sunstone.PNG">
    <script>
     //  
    //  make album art briefly transparent      -_|  <-->  <-->  <-->  |_-    
   //
  //
 //
  //
   //
    //
     //    ---|  <-->  <-->  <-->  |---
        function seeThrough() {
            var image = document.getElementById('album_art');
            image.style.opacity = 0;
            var url = new URL(image.src);
            var path = url.pathname;
            if(path == "/static/images/IMG_2460.PNG") {
                setTimeout(function() {
                    image.src = "static/images/liteoatp.PNG";
                    image.style.opacity = 1;
                }, 300);
            }
            else {
                setTimeout(function() {
                    image.src = "static/images/IMG_2460.PNG";
                    image.style.opacity = 1;
                }, 300);
            }
        } 
        // function seeThrough()
       // wow |
      // wow \
     // wow —
    // wow /
   // wow |
  // wow \
 // wow —
// wow /change album art on click 
        function changeImage() {
            var image = document.getElementById('album_art');
            image.src = "static/images/liteoatp.PNG";
        }
        //
        </script>
</head>
<body style="background-color: #ffc9b0">
<div style="display: block; margin-left: auto; margin-right: auto; margin-top: 17px;">
<img id="album_art" src="static/images/liteoatp.PNG" width="750" onClick="seeThrough()" height="750" style="display: block; margin-left: auto; margin-right: auto; margin-top: 27px; transition: opacity 0.25s;">
</div>
<!-- <h1 style="color: #9e1911; font-family: 'Courier New', Courier, monospace; display: block; margin-left: auto; margin-right: auto; margin-bottom: 50px; text-indent: 100px;">trenton michael</h1>-->
<div style="text-align: center;">
    <a href="https://open.spotify.com/album/7z0PGr9yCAhStM8xNaL0Ub?si=R5ETFTEPQ-eNGj2N4HL_jw"style="text-decoration: none; font-size: 0;"> 
        <img src="static/images/spotify_logo.png" width="100" height="100" style="display: inline-block; margin-right: 50px;">
    </a>
    <a href="https://music.apple.com/us/album/life-in-the-eyes-of-a-teenage-philosopher/1635781143"style="text-decoration: none; font-size: 0;">
    <img src="static/images/red_apple.PNG" width="100" height="100" style="display: inline-block; margin-right: 50px;">
    </a>
    <a href="https://trentonmichael.bandcamp.com/album/life-in-the-eyes-of-a-teenage-philosopher"style="text-decoration: none; font-size: 0;"> 
        <img src="static/images/bandcamp-logo.svg" width="90" height="90" style="display: inline-block; margin-right: 50px;">
    </a>
    <a href="https://soundcloud.com/trentonmichael/sets/life-in-the-eyes-of-a-teenage-philosopher"style="text-decoration: none; font-size: 0;">
    <img src="static/images/soundcloud.svg" width="100" height="100" style="display: inline-block; margin-right: 50px;">
    </a>
    <a href="https://www.youtube.com/channel/UCLimBHin2APkVTufIamLEOg" style="text-decoration: none; font-size: 0;">
        <img src="static/images/youtube_logo.png" width="100" height="69.21875" style="display: inline-block;">
        </a>
</div>
</html>