<!DOCTYPE html>
<html lang="en">
<head>
    <script src="invertLogos.js"></script>
    <style>
 

        #album_art {
            max-width: 70%;
            height: auto;
            display: block;
            margin: 10px auto;
            transition: all 1s ease-in-out;
            opacity: 100%;
        }

        #links {
            opacity: 100%;
        }
    </style>
    <meta charset="UTF-8">
    <title>sunboyforever.</title>
    <link rel="icon" href="static/images/sunstone.webp">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    {% include 'navbar.html' %}
<div style="display: block; margin-left: auto; margin-right: auto; margin-top: 17px;"> 
<img id="album_art" src="static/images/sunboynever.webp" width="600" height="600" style="display: block; margin-left: auto; margin-right: auto; margin-top: 5%; transition: all 0s ease-in-out; opacity: 1;"> <!-- opacity 0.25s transition:-->
</div>
<div class="spacer"></div> <!-- Spacer div -->
    {% include 'sunboy-never-links.html' %}
</body>
<script>invertLogos()</script>
</html>

<!--

TODO: Enhance website. Catch up on my own rusting skills.
> Add page for live audio service
    > Show some gear.
    > Make sure to explain I charge more because of my sophisticated audio setup where I
    can hear exactly what the audience hears and make adjustments right there.11
> Add studio audio page for production with howler.js for sound samples. 
    > Emphasize genre diversity
    > Show off all instruments.
    > Make it so people can click and listen to skills on each instrument.
> Add About Me page for personal bio and listing all skills and instruments.
> Add simple backend for click tracking and analytics. 
Why use Google when I can easily do this myself? It would be trivial.
    > Create a function that stores clicks and
     other user data about when and how they got there.
    > Map the function to all the elements on each page with addEventListener.
    > Store the data in a JSON file or a database or something, idk. I'll figure that out.
    > Create a simple analytics page that displays the data in a readable format.
    > Be able to login to that page from the website. Make sure the login is properly secured.
> Add a shop and an e-commerce backend for selling merch -- unless you don't want to sell merch.
    > Merch could very possibly be so over.
> Add Contact page for work inquiries

    > Add a simple backend that sends me texts or emails when someone fills out the form.
-->