<div id="links" style="text-align: center; transition: all 1.5s ease-in-out; left: 50px;">
    <a href="https://open.spotify.com/album/7z0PGr9yCAhStM8xNaL0Ub"style="text-decoration: none; font-size: 0;"> 
        <img id="spotify" src="static/images/spotify_logo.webp" width="100" height="100" style="display: inline-block; margin-right: 25px;">
    </a>
    <a href="https://music.apple.com/us/album/life-in-the-eyes-of-a-teenage-philosopher/1635781143"style="text-decoration: none; font-size: 0;">
    <img id="apple" src="static/images/red_apple.webp" width="100" height="100" style="display: inline-block; margin-right: 25px;">
    </a>
    <a href="https://trentonmichael.bandcamp.com/album/life-in-the-eyes-of-a-teenage-philosopher"style="text-decoration: none; font-size: 0;"> 
        <img id = "bandcamp" src="static/images/bandcamp-logo.svg" width="90" height="90" style="display: inline-block; margin-right: 25px;">
    </a>
    <a href="https://soundcloud.com/trentonmichael/sets/life-in-the-eyes-of-a-teenage-philosopher" style="text-decoration: none; font-size: 0;">
    <img id="soundcloud" src="static/images/soundcloud.svg" width="100" height="100" style="display: inline-block; margin-right: 25px;">
    </a>
    <a href="https://www.youtube.com/playlist?list=PL0Iu6IhzAzvSU4oPKdtn7RCXJ9y9ODHbu" style="text-decoration: none; font-size: 0;">
        <img id="youtube" src="static/images/youtube_logo.webp" width="100" height="69.21875" style="display: inline-block;">
        </a>
</div>