<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" href="static/images/sunstone.webp">
    <script src="static/js/adjustNavbar.js"></script>
    <script>
        window.onload = function() {
            makeNavbarVisible();
            makeNavbarTextBlack();
        }
    </script>
    <style>
        body {
        background-color: #fdedbf;
        color: #000000;
        }
        #links {
            opacity: 1 !important;
            text-align: left !important;
        }
    </style>

</head> 
<body>

{% include 'navbar.html' %}
<h1>trenton michael.</h1>
<h2>about me</h2>
<p>I'm a music artist, computer scientist, philosopher, and educator
    from Jackson, Michigan, currently residing on the south side of Chicago.
    I have a bachelor's degree in computer science from the University of Michigan-Ann Arbor (if that matters).
</p>
<h2>what i do</h2>
<p>I am a "full stack" music artist; that is to say, I handle everything from the idea in my head to the releases on streaming.</p>
<p>
    I write, perform, and produce the music. I engineer music, including mixing, mastering, recording, and programming music.
</p>
<p>I also do live audio.</p>
<p>I am a singer, rapper, and multi-instrumentalist who plays saxophone, keyboard/piano, guitar, bass, and more.</p>
<p>Aside from features and the occasional but uncommon drum loops, <b>I play everything in every song.</b> My bad bro, I guess I'm just way too independent.</p>
<div id="sunboy-never-album-section"></div>
    <h2><i>sunboy never</i></h2>
    <h4>the 2nd trenton michael album</h4>
<img src="static/images/sunboynever.webp" width="600px" height="auto">
    {% include 'sunboy-never-links.html' %}
    <p>synth pop orchestras are a thing of the past (for now). acoustic guitar and voice conquer <i>sunboy never</i>'s soundscape which also includes saxophone, electric guitar, bass, and keys, <b>all played by me - trenton michael</b>. (drum tracks are samples/loops)
    </p><p>one of the last lyrics of the first album is "i'll always be your sunboy." <i>sunboy never</i> tries answering this question: <b>was this promise broken?</b> and what does it even mean to be someone's sunboy?
    </p>
<div id="18-diamonds-single-section"></div>
    <h2><i>18 diamonds.</i></h2>
    <h4>single from 'sunboy never'</h4>
    <img src="static/images/18-diamonds.webp" width="600px" height="auto">
    {% include '18-diamonds-links.html' %}
    <p>the nation holds millions hostage.</p>
    <p>i played everything except the drums on the song</p>
    <p>i made the art which features my friend aliama the spiritual practitioner</p>
<div id="i-wanted-you-to-change-single-section"></div>
    <h2><i>i wanted u 2 change</i></h2>
    <img src="static/images/change.png" width="600px" height="auto">
    <p>but u just stayed the same.</p>
    <p>i played everything on the song</p>
    <p>i made the art</p>
<div id="see-you-in-june-single-section">
    <h2><i>see you in june</i></h2>
    <h4>lead single from 'sunboy never'</h4>
    <img src="static/images/see-you-in-june-yellow.webp" width="600px"height="auto">
    {% include 'see-you-in-june-links.html' %}
    <p><i>`see you in june`</i> is about optimistically loving as a flawed person in a flawed world.</p>
    <p>the instrumentation is different from my previous work as it features me finger-picking my now-destroyed rogue ra-090 acoustic guitar <i>(i smashed it into a doorway or something btw)</i>. i wanted to leave my comfort zone that i ended up in during <i>`liteoatp`.</i></p>
    <p>this one i love to talk about and the deep fans love it. i didn't play guitar before writing this song and i actually picked up guitar just to learn it (i ended up having a lot of fun with guitar; this was very unexpected since guitarists aren't people).</p><p>vocals were recorded with rode nt4 and guitar was recorded with shure sm-57. i played the midi synth keys as well.</p>
    <p>my friend dora took the photo in the album art, i added the text.</p>
</div>
</body>
<div id="liteoatp-album-section">
<h2><i>life in the eyes of a teenage philosopher</i></h2>   
<h4>the 1st trenton michael album</h4>  
    <img src="static/images/liteoatp.webp" width="600px"height="auto">
    {% include 'liteoatp-links.html' %}
    <p>in 2021 i released <i>Life in the Eyes of a Teenage Philosopher</i> which i often abbreviate as <i>liteoatp (yes, i know that's not how acronyms work, no i dont care, eat shit)</i>. it is a 22-track glitchcore/synth-pop and r&b/hip-hop album with synth and vocals. it doesn't feature any other live instruments. sonically this album takes place in a surreal and abstract space.</p>
    <p>the album art was created by me, edited heavily from a picture i took on a rebel t2i into the graphic seen here. find alternate album art and more goodies in <a href="/gallery">the gallery</a>.</p>        <p>i've had a vision about a teen angst glitchcore project called <i>`life in the eyes of a teenage philosopher`</i> since i was like 14 but it took me time to develop the patience and skill to execute it. plus, i really <i>did</i> have to get a little fucken crazy wit it ya feel...
    </p>
    <p>if i'm being completely honest i nursed this project for a long time as i was using it to hone my producing skills and i actually straight up released it by accident, like i forgot to move it back and people started texting me about it saying they liked it so i didn't bother taking it down. <i>`liteoatp`</i> achieved its purpose and i was ready to let it go, after a whole lot of years of it being an idea in my head.</p>
        the album was produced in audacity & garageband for iphone and later logic pro x for macbook (first a pro 2012, later a pro 2017). the gear used includes the focusrite scarlett solo & scarlett 2i2 for audio interfaces; the shure sm-57 & sm-58 and the audiotechnica at-2020 for microphones. everything was recorded at home, in closets, in the middle of the room, wherever. the album was remastered at the university of michigan in 2022.</p>

        <p>the album, lyrically, reads as a bildungsroman about pride, trauma, love, and being who you are.</p>

</div>