<div id="links" style="text-align: center; transition: all 1.5s ease-in-out; opacity: 0; left: 50px;">
    <a href="https://open.spotify.com/album/5d4G6x7ND5BZmHTU4dM8oB?si=1wJ0gyuVRg6upd__tUdOAQ"style="text-decoration: none; font-size: 0;"> 
        <img id="spotify" src="static/images/spotify_logo.webp" width="100" height="100" style="display: inline-block; margin-right: 25px;">
    </a>
    <a href="https://music.apple.com/us/album/see-you-in-june-single/1745558959"style="text-decoration: none; font-size: 0;">
    <img id="apple" src="static/images/red_apple.webp" width="100" height="100" style="display: inline-block; margin-right: 25px;">
    </a>
    <a href="https://trentonmichael.bandcamp.com/track/see-you-in-june"style="text-decoration: none; font-size: 0;"> 
        <img id = "bandcamp" src="static/images/bandcamp-logo.svg" width="90" height="90" style="display: inline-block; margin-right: 25px;">
    </a>
    <a href="https://soundcloud.com/trentonmichael/see-you-in-june?si=94d78faed63b4d7aab0d495fecf7ac7a&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" style="text-decoration: none; font-size: 0;">
    <img id="soundcloud" src="static/images/soundcloud.svg" width="100" height="100" style="display: inline-block; margin-right: 25px;">
    </a>
    <a href="https://youtu.be/KSffCG7hADg?si=5aBgPB1jHQwzPkt2" style="text-decoration: none; font-size: 0;">
        <img id="youtube" src="static/images/youtube_logo.webp" width="100" height="69.21875" style="display: inline-block;">
        </a>
</div>