<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/adjustNavbar.js"></script>
    <script>
        window.onload = function() {
            makeNavbarVisible();
        }
    </script>
</head>
<body>
{% include 'navbar.html' %}
    <div>
        <h1 id="top">computer science portfolio</h1>
        <p>This is a portfolio of my computer science experience and projects.
            I studied computer science at the University of Michigan, and graduated in 2024.
            I have a background in web systems, cybersecurity, and software development.
            I have an interest in the design of user interfaces and everyday objects.</p><br>
            <a href="#website">This website</a><br><br>
            <br>
        <h2 id="website">This website</h2>
            <p></p>This entire website was coded and designed by me, implemented with a Python Flask backend and deployed on Heroku. The designs, a hobby of mine you can see more of here, are made on my phone whatever way gets the job done.
            The website and animations are written in HTML and CSS with JavaScript front-end functionality (just for animations currently). 
            <a href="#top">Back to top</a>
    </div>
</body>